<!doctype html>
<html class="no-js" lang="zxx">
<%include partial/Head %>

    <body>

        <!-- Preloader Start -->
        <%include partial/Header %>
            <main>

                <!-- slider Area Start-->
                <div class="slider-area ">
                    <!-- Mobile Menu -->
                    <div class="slider-active">
                        <div class="single-slider slider-height d-flex align-items-center "
                            data-background="../img/hero/static_page_banner.png">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xl-6 col-lg-9 col-md-10">
                                        <div class="hero__caption">
                                            <h1>Find the most exciting startup jobs</h1>
                                        </div>
                                    </div>
                                </div>
                                <!-- Search Box -->
                                <div class="row">
                                    <div class="col-xl-8">
                                        <!-- form -->
                                        <form action="#" class="search-box">
                                            <div class="input-form">
                                                <input type="text" placeholder="Job Tittle or keyword">
                                            </div>
                                            <div class="select-form">
                                                <div class="select-itms">
                                                    <select name="select" id="select1">
                                                        <option value="">Location BD</option>
                                                        <option value="">Location PK</option>
                                                        <option value="">Location US</option>
                                                        <option value="">Location UK</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="search-form">
                                                <a href="/Jobs/Joblisting" id="searchbar">Find job</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="our-services">
                    <div class="container">
                        <!-- title start -->


                        <div class="section-tittle text-center" style="padding-bottom: 65px;    padding-top: 43px;">

                            <h2>Top Employer </h2>
                        </div>

                        <div id="carouselnew" style="padding: 37px;"><a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/PS%20Investment.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="PS Investment"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Fino%20payment%20Bank.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Fino payment Bank"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Webjol%20Technologies%20LLP.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Webjol Technologies LLP"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/CI%20Hyundai.png"
                                    style="height: 90px; width: 220px; display: none;" alt="CI Hyundai"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Parulkar%20Hospital.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Parulkar Hospital"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Vimla%20Food%20Products.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Vimla Food Products"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Stone%20Factory.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Stone Factory"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Campuswala.png"
                                    style="height: 90px; width: 220px; display: none;" alt="My Daftar"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Vinayam%20Public%20School.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Vinayam Public School"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Global%20Certification%20Services.png"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Global Certification Services"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Lakme%20Academy.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Lakme Academy"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Gopesh%20Tare%20(Tax%20&amp;%20Legal%20Consultant).png"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Gopesh Tare (Tax &amp; Legal Consultant)"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Duarz.jpeg"
                                    style="height: 90px; width: 220px; display: none;" alt="Duarz"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Lotus%20Enterprises.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Lotus Enterprises"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Writer%20Corporation.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Writer Corporation"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Escort%20Tractor.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Escort Tractor"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/ICT%20Services.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="ICT Services"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Digital%20Agro%20Solution.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Digital Agro Solution"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Maa%20Group.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Maa Group"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Neelton%20Technologies.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Neelton Technologies"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Tripti%20Hospital.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Tripti Hospital"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Ruchi%20Security%20Printers.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Ruchi Security Printers"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Power%20Solution.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Power Solution"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Toppr.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Toppr"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Eureka%20Forbs.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Eureka Forbs"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Amipiya%20Techsoft%20Pvt%20Ltd.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Amipiya Techsoft Pvt Ltd"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Vertex%20BPO%20:%20Altruist%20India.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Vertex BPO : Altruist India"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Magnum%20Group.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Magnum Group"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Inspire%20NGRT.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Inspire NGRT"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Digimonk%20Technologies.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Digimonk Technologies"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Teleperformance.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Teleperformance"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Alina%20Softwares.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Alina Softwares"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Technogiq%20IT%20Solution.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Technogiq IT Solution"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Perfect%20Solution.jpeg"
                                    style="height: 90px; width: 220px; display: none;" alt="Perfect Solution"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Ginni%20Filaments%20Ltd..jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Ginni Filaments Ltd."></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Capital%20Cow%20Research.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Capital Cow Research"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Capital%20Stroke%20Financial%20Investment%20Services.png"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Capital Stroke Financial Investment Services"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Schooglink.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Schooglink"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/LIC%20.png"
                                    style="height: 90px; width: 220px; display: none;" alt="LIC "></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Swatantra%20Micro%20Finance.png"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Swatantra Micro Finance"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Adinath%20Enterprises.jpg"
                                    style="height: 90px; width: 220px; display: none;" alt="Adinath Enterprises"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/New%20Reliance%20Bio%20Planttec%20Co..png"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="New Reliance Bio Planttec Co."></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Firstselection%20point%20consultancy%20services%20pvt%20ltd.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="Firstselection point consultancy services pvt ltd"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Paytm.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Paytm"></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/PARADISE%20RECRUITMENT%20CONSULTANT%20.jpg"
                                    style="height: 90px; width: 220px; display: none;"
                                    alt="PARADISE RECRUITMENT CONSULTANT "></a>
                            <a href="#">
                                <img src="http://vacancy.mprojgar.gov.in/EmployerLogo/Aisect%20Ltd.png"
                                    style="height: 90px; width: 220px; display: none;" alt="Aisect Ltd"></a>
                        </div>
                    </div>

                </div>
                <!-- Our Services Start -->
                <div class="our-services">
                    <div class="container">
                        <!-- Section Tittle -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="section-tittle text-center">
                                  
                                    <h2>Browse Top Categories </h2>
                                </div>
                            </div>
                        </div>
                        <div class="row d-flex justify-contnet-center">
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-tour"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Design & Creative</a></h5>
                                        <span>(653)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-cms"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Design & Development</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-report"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Sales & Marketing</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-app"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Mobile Application</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-helmet"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Construction</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-high-tech"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Information Technology</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-real-estate"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Real Estate</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                                <div class="single-services text-center mb-30 userccount">
                                    <div class="services-ion">
                                        <span class="flaticon-content"></span>
                                    </div>
                                    <div class="services-cap">
                                        <h5><a href="job_listing.html">Content Writer</a></h5>
                                        <span>(658)</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- More Btn -->
                        <!-- Section Button -->
                      
                    </div>
                </div>
                <!-- Our Services End -->
                <!-- Online CV Area Start -->
                <div class="online-cv cv-bg section-overly pt-90 pb-120" data-background="../img/gallery/cv_bg.jpg" style="height: 325px;">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-10">
                                <div class="cv-caption text-center">
                                    
                                    <p class="pera2" style="font-size: 32px;"> Make a Difference with Your Online Resume!</p>
                                    <a href="/Candidate/Login" class="border-btn2 border-btn4">Upload your cv</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Online CV Area End-->
                <!-- Featured_job_start -->
                <section class="featured-job-area feature-padding">
                    <div class="container">
                        <!-- Section Tittle -->
                    
                    <div class="row">
                        <div class="col-lg-12">
                        <div class="section-tittle text-center">
                                   
                            <h2>Featured Jobs</h2>
                        </div>
                    </div>
                     </div>
                        <div class="row"> 
                            <div class="col-lg-3">
                                <div class="col-md-12">
                                    <div class="sidebar" style="border: aliceblue;display: inline-block; width:100%">
                                        <div class="formpanel" style="margin-top: 0px !important">
                                            <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;">
                                                <span lang="en"> Job Seeker</span>
                                            </p>
                                            <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;">
                                                <span lang="en"> New to this Portal </span></p>
                                            <a class="btn" href="/Candidate/Registration" value="RegisterNow" style="margin: auto;display:block"> <span lang="en">Register Now </span></a>
                                        
                                            <br>
                                            <p style="color: black;          text-align: center; font-size: large;  font-weight: 600;" lang="en">-----Or-----
                                            </p>
                                            <p style="text-align: center;"><a href="/Candidate/Login"  style=" font-size: large; color: #FC9928;"> <span lang="en">Login Here</span></a>
                                            </p>
            
            
                                        </div>
            
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="sidebar" style="border: aliceblue;display: inline-block; width:100%">
                                        <div class="formpanel" style="margin-top: 0px !important">
                                            <p style="color: black;     text-align: center;font-size: large;    font-weight: 600;">
                                                <span lang="en">Employer </span>
                                            </p>
                                            <p style="color: black;    text-align: center;font-size: large;    font-weight: 600;">
                                                <span lang="en"> New to this Portal </span></p>
                                            <a class="btn" href="/JobSeekerRegistration" value="RegisterNow" style="margin: auto;display:block"> <span lang="en">Register Now </span></a>
                                          
                                            <br>
                                            <p style="color: black;          text-align: center; font-size: large;  font-weight: 600;" lang="en">-----Or-----
                                            </p>
                                            <p style="text-align: center;"><a href="#" data-toggle="modal" data-target="#myModallogin" style=" font-size: large; color: #FC9928;"> <span lang="en">Login Here</span></a>
                                            </p>
            
            
                                        </div>
            
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-lg-6">
                               
                                <ul class="jobslist row" id="FeaturedJob">

                            

                                    <li class="col-md-12" >
                                        <div class="jobint">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <img style="max-width: 100% !important;" src="../img/icon/job-list1.png">
                                                </div>
                                                <div class="col-md-6 col-sm-7">
                                                    <h4><a
                                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                                            <div
                                                                style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                                Embroidery operator, Sewing machine operator</div>
                                                        </a></h4>
                                                    <div class="company"
                                                        style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <a href=" http://www.jobsaarthi.com" target="blank"> MD Square Pvt Ltd
                                                        </a>
                                                    </div>
                                                    <div class="jobloc"><label class="fulltime">Full-Time</label> -
                                                        <span>Sehore</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3"><a href="#"
                                                        class="genric-btn primary-border circle">Apply</a></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-4 col-sm-3 PostedOn"> <span> Posted 2 Week(s) Ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-12">
                                        <div class="jobint">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <img style="max-width: 100% !important;" src="../img/icon/job-list1.png">
                                                </div>
                                                <div class="col-md-6 col-sm-7">
                                                    <h4><a
                                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                                            <div
                                                                style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                                Embroidery operator, Sewing machine operator</div>
                                                        </a></h4>
                                                    <div class="company"
                                                        style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <a href=" http://www.jobsaarthi.com" target="blank"> MD Square Pvt Ltd
                                                        </a>
                                                    </div>
                                                    <div class="jobloc"><label class="fulltime">Full-Time</label> -
                                                        <span>Sehore</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3"><a href="#"
                                                        class="genric-btn primary-border circle">Apply</a></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-4 col-sm-3 PostedOn"> <span> Posted 2 Week(s) Ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="col-md-12">
                                        <div class="jobint">
                                            <div class="row">
                                                <div class="col-md-2 col-sm-2">
                                                    <img style="max-width: 100% !important;" src="../img/icon/job-list1.png">
                                                </div>
                                                <div class="col-md-6 col-sm-7">
                                                    <h4><a
                                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                                            <div
                                                                style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                                Embroidery operator, Sewing machine operator</div>
                                                        </a></h4>
                                                    <div class="company"
                                                        style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                                                        <a href=" http://www.jobsaarthi.com" target="blank"> MD Square Pvt Ltd
                                                        </a>
                                                    </div>
                                                    <div class="jobloc"><label class="fulltime">Full-Time</label> -
                                                        <span>Sehore</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-3"><a href="#"
                                                        class="genric-btn primary-border circle">Apply</a></div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-sm-4"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-2 col-sm-2"></div>
                                                <div class="col-md-4 col-sm-3 PostedOn"> <span> Posted 2 Week(s) Ago</span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
        
                                </ul>
                            </div>
                            <div class="col-lg-3">
                                <div class="sidebar" style="height: 607px;">

                                   
                                  
                                  
                                    <p style="color: #FC9928;     text-align: left;font-size: 17px;    font-weight: 500;">
                                        <span lang="en"> Gallery</span></p>
                                    <div id="carousel3" style="height: 147px;" class="carousel slide" data-ride="carousel"
                                        data-interval="2000">
                                        <div class="carousel-inner" id="carouselyas">
                                            <div class="item active"><div class="carousel-col" style="height: 176px;width:100%"><div><a href="/Gallery"> <img style="max-width: 100%;height: 130px;;width:100%" src="../img/hero/Officepic.jpeg"></a> </div></div></div>
            
                                        </div>
                                    </div>
            
                                    <div>

                                 
                                    
                                        <h6 style="color:#FC9928;"><span lang="en">Candidate Feedback</span></h6>
                
                                        <ul class="categories">
                                            <marquee direction="up" scrollamount="2" style="height: 169px;" onmouseover="this.stop();" onmouseout="this.start();"> We value the resumes sourced through this channel. It
                                                provides
                                                relevant and accurate matches as per our job requirements.-<p><img style="width:12%;" src="http://vacancy.mprojgar.gov.in/EmployerLogo/Ginni%20Filaments%20Ltd..jpg" class="yatmlogo" id="employerfeedback"></p>
                                            </marquee>
                                        </ul>
                                        <h6 style="color:#FC9928;"><span lang="en">Employer Feedback</span></h6>
                
                                        <ul class="categories">
                                            <marquee direction="up" scrollamount="2" style="height: 87px;" onmouseover="this.stop();" onmouseout="this.start();"> We value the resumes sourced through this channel. It
                                                provides
                                                relevant and accurate matches as per our job requirements.-<p><img style="width:12%;" src="http://vacancy.mprojgar.gov.in/EmployerLogo/Ginni%20Filaments%20Ltd..jpg" class="yatmlogo" id="employerfeedback"></p>
                                            </marquee>
                                        </ul>
                                     
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </section>
                <div class="row" style=" padding-bottom: 0px;">
                    <div class="col-md-12" style="margin-bottom: -27px">
    
    
                        <ul class="jobslist row">
                            <!--Job 1-->
    
                            <li class="col-md-4 col-sm-6">
                                <div class="jobint" style="background-color: rgb(231, 69, 164)">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                            <!-- <h3 id="jobseeker" class="count">11078</h3>-->
                                            <h3 id="jobseeker" class="count">888888</h3>
                                            <h5><span lang="en">Active Job Seekers</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--Job end-->
    
                            <!--Job 2-->
                            <li class="col-md-4 col-sm-6">
                                <div class="jobint" style="background-color:#9747b8">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                            <!--<h3 id="employers" class="count">7078</h3>-->
                                            <h3 id="employers" class="count">33333</h3>
                                            <h5><span lang="en">Active Employers</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!--Job end-->
    
                            <!--Job 3-->
                            <li class="col-md-4 col-sm-6">
                                <div class="jobint" style="background-color:#f8a138">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12" style=" text-align: center;color: white;">
                                            <!--<h3 id="Vacancies" class="count">87078</h3>-->
                                            <h3 id="Vacancies" class="count">44444</h3>
                                            <h5><span lang="en">Active Vacancies</span></h5>
                                        </div>
                                    </div>
                                </div>
                            </li>
    
    
                        </ul>
                    </div>
                </div>
                <div class="section-top-border">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-tittle text-center">

                                <h2>Popular Searches</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="userccount">
                                <h4 class="mb-20">BROWSE BY DESIGNATION</h4>
                                <ul class="row catelist" id="BrowseByCategories">
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Machine%20Operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Machine
                                                Operator </span>
                                            <span style="padding: 2px;">(2711)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Teacher')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Teacher
                                            </span>
                                            <span style="padding: 2px;">(800)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Field%20Sales%20Executive')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Field
                                                Sales Executive </span>
                                            <span style="padding: 2px;">(473)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#"
                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Embroidery
                                                operator, Sewing machine operator </span>
                                            <span style="padding: 2px;">(400)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Sales%20Officer')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Sales
                                                Officer </span>
                                            <span style="padding: 2px;">(372)</span>
                                        </a>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="userccount">
                                <h4 class="mb-20">BROWSE BY CATEGORIES</h4>
                                <ul class="row catelist" id="BrowseByCategories">
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Machine%20Operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Technicians and associate professionals. </span>
                                            <span style="padding: 2px;">(2711)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Teacher')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Managers
                                            </span>
                                            <span style="padding: 2px;">(800)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Field%20Sales%20Executive')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Field
                                                Sales Executive </span>
                                            <span style="padding: 2px;">(473)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#"
                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Clerical support workers </span>
                                            <span style="padding: 2px;">(400)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Sales%20Officer')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Sales
                                                Officer </span>
                                            <span style="padding: 2px;">(372)</span>
                                        </a>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="userccount">
                                <h4 class="mb-20">BROWSE BY LOCATION</h4>
                                <ul class="row catelist" id="BrowseByCategories">
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Machine%20Operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Pune </span>
                                            <span style="padding: 2px;">(2711)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Teacher')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Mumbai
                                            </span>
                                            <span style="padding: 2px;">(800)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Field%20Sales%20Executive')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">banglore </span>
                                            <span style="padding: 2px;">(473)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#"
                                            onclick="SetJobByDesignation('Embroidery%20operator,%20Sewing%20machine%20operator')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Bhopal </span>
                                            <span style="padding: 2px;">(400)</span>
                                        </a>
                                    </li>
                                    <li class="">
                                        <a href="#" onclick="SetJobByDesignation('Sales%20Officer')">
                                            <span class="CCcontainer"
                                                style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width: 275px;display:inline-block;color: black;">Indore </span>
                                            <span style="padding: 2px;">(372)</span>
                                        </a>
                                    </li>
                                 
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </main>
            <%include partial/Footer %>

                <!-- JS here -->

                <!-- All JS Custom Plugins Link Here here -->
                <%include partial/Script %>


    </body>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#carouselnew").waterwheelCarousel({
                flankingItems: 10,
                separation: 280,
                autoPlay: 3000
            });
            setTimeout(() => {
                $('.carousel:not("#EmployeeCarousel, #video-carousel")').carousel({
                interval: 5000,
                pause: false
            }); 
            }, 300);
         
        });

    </script>

</html>