<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                   <div class="single-footer-caption mb-50">
                     <div class="single-footer-caption mb-30">
                         <div class="footer-tittle">
                             <h4 class="footertext">Information</h4>
                             <ul>
                                <li><a class="footertext" href="/">Home</a></li>
                                <li><a class="footertext" href="#">About us</a></li>
                                <li><a class="footertext" href="#">Contact us</a></li>
                             
                            </ul>
                         </div>
                     </div>

                   </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4 class="footertext">Contact Info</h4>
                            <ul>
                                <li>
                                <p class="footertext">Bhopal Madhya Pradesh
                                Office No. 456, Bhopal, Madhya Pradesh 462041</p>
                                </li>
                                <li><a class="footertext" href="#">Phone : 18002356598</a></li>
                                <li><a class="footertext" href="#">Email : helpdeskvdhskkdks</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4 class="footertext">Job Seekers Section</h4>
                            <ul>
                                <li><a class="footertext" href="/Candidate/Login">Candidate Login</a></li>
                                <li><a class="footertext" href="/Candidate/Registration">Candidate Registration</a></li>
                              
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4 class="footertext">Employer Section</h4>
                            <ul>
                                <li><a class="footertext" href="#">Employer Login</a></li>
                                <li><a class="footertext" href="#">Employer Registration</a></li>
                              
                            </ul>
                         <!-- Form -->
                         <div class="footer-form" >
                             <div id="mc_embed_signup">
                                 <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                 method="get" class="subscribe_form relative mail_part">
                                     <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                     class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                     onblur="this.placeholder = ' Email Address '">
                                     <div class="form-icon">
                                         <button type="submit" name="submit" id="newsletter-submit"
                                         class="email_icon newsletter-submit button-contactForm"><img src="../img/icon/form.png" alt=""></button>
                                     </div>
                                   
                                     <div class="mt-10 info"></div>
                                 </form>
                             </div>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
           <!--  -->
           <div class="row footer-wejed justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                    <!-- logo -->
                    <div class="footer-logo mb-20">
                        <img src="../img/logo/yatmlogo1.png" alt="" style="width: 352px;height:68px;margin-left: -39%;">
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                <div class="footer-tittle-bottom">
                    <span>5000+</span>
                    <p class="footertext">Talented Hunter</p>
                </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <div class="footer-tittle-bottom">
                        <span>451</span>
                        <p class="footertext">Talented Hunter</p>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                    <!-- Footer Bottom Tittle -->
                    <div class="footer-tittle-bottom">
                        <span>568</span>
                        <p class="footertext">Talented Hunter</p>
                    </div>
                </div>
           </div>
        </div>
    </div>
    <!-- footer-bottom area -->
    <div class="footer-bottom-area footer-bg">
        <div class="container">
            <div class="footer-border">
                 <div class="row d-flex justify-content-between align-items-center">
                     <div class="col-xl-10 col-lg-10 ">
                         <div class="footer-copy-right">
                             <p class="footertext"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved  <i class="fa fa-heart" aria-hidden="true"></i> by <a class="footertext" href="https://colorlib.com" target="_blank">Yashaswi Academy For Talent Management</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                         </div>
                     </div>
                     <div class="col-xl-2 col-lg-2">
                         <div class="footer-social f-right">
                             <a class="footertext" href="#"><i class="fab fa-facebook-f"></i></a>
                             <a class="footertext" href="#"><i class="fab fa-twitter"></i></a>
                             <a class="footertext" href="#"><i class="fas fa-globe"></i></a>
                             <a class="footertext" href="#"><i class="fab fa-behance"></i></a>
                         </div>
                     </div>
                 </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>