<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="../img/logo/yatmlogo1.png" alt="">
            </div>
        </div>
    </div>
</div>
<header>
    <!-- Header Start -->
   <div class="header-area header-transparrent">
       <div class="headder-top header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2 col-md-2" >
                        <!-- Logo -->
                        <div class="logo" >
                         <img src="../img/logo/yatmlogo1.png" alt="" style="width: 320px;height:70px;margin-left: -60%;">
                        </div>  
                    </div>
                    <div class="col-lg-10 col-md-9">
                        <div class="menu-wrapper">
                            <!-- Main-menu -->
                            <div class="main-menu">
                                <nav class="d-none d-lg-block">
                                    <ul id="navigation">
                                        <li><a href="/">Home</a></li>
                                        <li><a href="index.html">Jobs</a>
                                            <ul class="submenu">
                                                <li><a href="single-blog.html">Register Now</a></li>
                                                <li><a href="single-blog.html">Advance Search</a></li>
                                                <li><a href="single-blog.html">Create Free Job Alert</a></li>
                                                <li><a href="single-blog.html"> Browse All Jobs</a></li>
                                           </ul>
                                        </li>
                                        <li><a href="#searchbar">Find Jobs </a>
                                            <ul class="submenu">
                                                <li><a href="single-blog.html">Job By Location</a></li>
                                                <li><a href="single-blog.html">Job By Skill</a></li>
                                                <li><a href="single-blog.html">Job By Designation</a></li>
                                                <li><a href="single-blog.html">Job By Company</a></li>
                                                <li><a href="single-blog.html">Job By Category</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li><a href="job_listing.html">Recruiters</a>
                                            <ul class="submenu">
                                                <li><a href="single-blog.html">Browse All Recruiter </a></li>
                                                <li><a href="single-blog.html">Recruiter Connection</a></li>
                                                <li><a href="single-blog.html">Go To YATM Recruiter</a></li>
                                               </ul>
                                        </li>
                                        <li><a href="job_listing.html">Companies</a>
                                            <ul class="submenu">
                                                <li><a href="single-blog.html">About Companies</a></li>
                                                <li><a href="single-blog.html">Recruiter Connection</a></li>
                                                <li><a href="single-blog.html">Go To YATM Recruiter</a></li>
                                               </ul>
                                        </li>
                                        
                                      
                                        <li><a href="about.html">About</a></li>
                                        <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>          
                            <!-- Header-btn -->
                            <div class="header-btn d-none f-right d-lg-block">
                                <a href="/Candidate/Registration" class="btn head-btn1">Register</a>
                                <a href="/Candidate/Login" class="btn head-btn2">Login</a>
                            </div>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
       </div>
   </div>
    <!-- Header End -->
</header>